<nav class="bg-success text-center">
    <button type="button" class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#productosCarrito">
        <i class="fa-solid fa-cart-shopping text-white p-4"></i>
    </button>
</nav>

<div class="modal fade" id="productosCarrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>