<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Mercado Web</title>
</head>
<body>
    {{> dashboard}}
    hola me llamo rodrigo

    <script src="https://kit.fontawesome.com/3e44e50226.js" crossorigin="anonymous"></script>
    <script src="/jquery/jquery.js"></script>
</body>
</html>